body {
  background-color: #333333;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.jumbotron {
  background-image:linear-gradient(to top right, #204f20, #396239);
  color: #e6e6e6;
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

h3, h5 {
  color: #8c8c8c;
}

p {
  color: #a6a6a6;
}

#finalPizzaPrice {
  float: right;
  margin-top: 15px;
  font-size: 20px;
}

#salad, #snark {
  display: none;
}
